@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,300&display=swap');

:root {
    --navy      : #001B48;
    --blue      : #174AE4;
    --softgrey  : #F9F9F9;
    --white     : #ffff;
    --bt-primary: linear-gradient(130deg, #2870ea 20%, #1b4aef 77.5%);
    --shadow    : 0 6.67587px 25.869px -1.66897px rgba(73, 141, 255, 0.3);
    --shadowbox : 0px 0.3px 0.9px rgba(0, 0, 0, 0.12),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    --bg: linear-gradient(90deg,
            rgb(239, 242, 247) 0%,
            7.60286%,
            rgb(237, 240, 249) 15.2057%,
            20.7513%,
            rgb(235, 239, 248) 26.297%,
            27.6386%,
            rgb(235, 239, 248) 28.9803%,
            38.2826%,
            rgb(231, 237, 249) 47.585%,
            48.1216%,
            rgb(230, 236, 250) 48.6583%,
            53.1306%,
            rgb(228, 236, 249) 57.6029%,
            61.5385%,
            rgb(227, 234, 250) 65.4741%,
            68.7835%,
            rgb(222, 234, 250) 72.093%,
            75.7603%,
            rgb(219, 230, 248) 79.4275%,
            82.8265%,
            rgb(216, 229, 248) 86.2254%,
            87.8354%,
            rgb(213, 228, 249) 89.4454%,
            91.8605%,
            rgb(210, 226, 249) 94.2755%,
            95.4383%,
            rgb(209, 225, 248) 96.6011%,
            98.3005%,
            rgb(208, 224, 247) 100%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin    : 0;
    background: var(--bg);
    font-family: 'Poppins',
        sans-serif;
}

body::before {
    content : '';
    position: fixed;
}

/* start style item */
h1 {
    font-weight: 800;
    line-height: 1.2;
    color      : var(--blue);
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top   : 0;
    margin-bottom: 0.5rem;
}

form {
    background   : var(--white);
    padding      : 2.5rem 0.625rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    box-shadow   : var(--shadow);
}

label {
    display      : flex;
    align-items  : center;
    font-size    : 1.125rem;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin     : 0;
    font-family: inherit;
    font-size  : inherit;
    line-height: inherit;
}

button {
    border: none;
}

/* end style item */


/* start style class */
.container {
    width : 100%;
    margin: 3.225rem auto 0 auto;
}

.header {
    padding      : 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description {
    font-style : italic;
    font-weight: 200;
}

.text-center {
    text-align: center;
}

.form-group {
    margin : 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display         : block;
    width           : 100%;
    height          : 2.375rem;
    padding         : 0.375rem 0.75rem;
    border          : 0;
    border-radius   : 0.25rem;
    background-color: var(--softgrey);
    box-shadow      : var(--shadowbox);
    transition      : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: var(--bt-primary);
    box-shadow  : var(--shadow);
    outline     : 0;
}

.radio-inline,
.checkbox-inline {
    display     : inline-block;
    margin-right: 0.625rem;
    min-width   : 1.25rem;
    min-height  : 1.25rem;
}

.textarea-inline {
    min-height      : 120px;
    width           : 100%;
    padding         : 0.625rem;
    resize          : vertical;
    border-radius   : 0.25rem;
    border          : 0;
    background-color: var(--softgrey);
    box-shadow      : var(--shadowbox);
}

.textarea-inline:focus {
    border-color: var(--bt-primary);
    box-shadow  : var(--shadow);
    outline     : 0;
    transition  : border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.item-center {
    padding: 0 0.625rem;
    display: flex;
}

.submit-button {
    display      : block;
    width        : 139px;
    border-radius: 0.25rem;
    height       : 48px;
    background   : var(--bt-primary);
    color        : var(--white);
    font-size    : 18px;

}

/* end style class */

/* start style media query */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

/* end style media query */